@use "@depict-ai/plp-styling/src/components/PLP/Toast";
@use "@depict-ai/plp-styling/src/components/PLP/Buttons";

body {
  color: white;
  background: black;
  font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

a {
  margin-right: 1rem;
  color: white;
}

a:visited {
  color: white;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  margin: 0 auto;
}

h1 {
  color: #335d92;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.1;
  margin: 4rem auto;
  max-width: 14rem;
}

p {
  max-width: 14rem;
  margin: 2rem auto;
  line-height: 1.35;
}

@media (min-width: 480px) {
  h1 {
    max-width: none;
  }

  p {
    max-width: none;
  }
}
.temperatures {
  gap: 10px;
  display: flex;
  flex-direction: column;

  .temperature {
    background: rgba(255, 255, 255, 0.2);
    padding: 15px;
    .label {
      margin-top: 0;
      margin-bottom: 5px;
    }
    .value {
      margin: 0;
    }
  }
}

.gpio {
  display: flex;
  flex-direction: column;
  gap: 25px;

  .io_section {
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid rgb(40, 40, 40);
    padding: 15px;

    h2 {
      margin-top: 0;
    }

    .hint {
      margin-bottom: 20px;
      font-size: 0.8em;
      font-style: italic;
    }

    .hint + h2 {
      margin-bottom: 5px;
    }

    table {
      tr {
        *:first-child {
          padding-right: 5px;
        }

        *:nth-child(2) {
          padding-left: 5px;
        }
        * {
          text-align: left;
        }
      }
    }

    &.outputs {
      table tr td:nth-child(2) {
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}

@include Toast.Toast();
@include Buttons.PrimaryButton();
